@model Flux.Models.BusinessUnit

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BusinessUnit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manager)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manager)
            @Html.ValidationMessageFor(model => model.Manager)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Other)
            @Html.ValidationMessageFor(model => model.Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTimeCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTimeCreated)
            @Html.ValidationMessageFor(model => model.DateTimeCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserCreated)
            @Html.ValidationMessageFor(model => model.UserCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTimeUpdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTimeUpdated)
            @Html.ValidationMessageFor(model => model.DateTimeUpdated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserUpdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserUpdated)
            @Html.ValidationMessageFor(model => model.UserUpdated)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
